#section_patient_kid {
    width: $mainwidth;
    .patient_kid {
      width: $mainwidth;
      height: 700px;
      margin-top: $mainmargin;
      display: flex;
      justify-content: center;
      .patient {
        width: 67%;
        background: #e7e7e7;
        .patient_text {
          width: 70%;
          margin: $mainmargin auto 0;
          text-align: center;
          span {
            border-bottom: 3px solid rgba(12, 184, 182, 1);
            font-weight: 700;
            font-family: $mainfont;
            padding-bottom: 5px;
            font-size: 25px;
          }
        }
        .patient_info {
          width: $mainwidth;
          height: 420px;
          display: flex;
          justify-content: space-evenly;
          .info_girls {
            width: 40%;
            height: 420px;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .girls_photo {
              width: 45%;
              height: 420px;
              position: relative;
              i {
                font-size: 45px;
                border: 6px solid white;
                border-radius: 50%;
                color: #0cb8b6;
                position: absolute;
                margin: 0px 0px 50px 60px;
                transition: 0.3s linear;
                top: 32%;
                right: 34%;
                background: white;
                &hover {
                  color: white;
                }
              }
              span {
                position: $mainposition;
                margin: 57px 0px 0px 20px;
              }
              .girls_sign {
                position: $mainposition;
                margin-top: 90px;
              }
            }
            .girls_text {
              width: 45%;
              height: 361px;
              margin-top: 42px;
              p {
                font-size: 16px;
                font-family: $fontSerifPro;
                font-weight: 400;
                line-height: 1.7;
                color: #444;
                text-align:left;
              }
            }
            img {
              border: 3px solid white;
              border-radius: 50%;
            }
          }
        }
      }
      .kid {
        width: 33%;
        background-image: url(../img/bear.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .kid_text {
          width: $mainwidth;
          height: 420px;
          .kid_text_head {
            width: 70%;
            height: 50px;
            margin: $mainmargin 0px 0px 40px;
            span {
              border-bottom: 3px solid white;
              padding-bottom: 5px;
              color: $maincolor;
              font-size: 1.4em;
              font-family: $mainfont;
            }
            p {
              color: $maincolor;
              margin-top: 30px;
            }
          }
          .kid_text_footer {
            width: 80%;
            height: 200px;
            line-height: 1.7;
            margin: 73px auto 0px;
            font-size: 19px;
            color: $maincolor;
          }
        }
        .kid_button {
          padding: 23px 0px 0px 0px;
          border: 2px solid white;
          color: white;
          font-family: "Montserrat", sans-serif;
          transition: 0.3s linear;
          width: 145px;
          height: 40px;
          box-sizing: border-box;
          padding-top: 10px;
          float: right;
          text-align: center;
           margin: 0px 60px 0px 0px;
        &:hover {
          background: white;
          color: black;
        }
      }
      }
    }
  }
 
 

  
 

  
  

 
  
 
  
  