$colorMain: #0cb8b6;
$fontMain: 'Montserrat', sans-serif;
$bgColor: #0CB8B6;
$btnBack: white;
$teamColor: white;
$sclColor:white;
$bgImage: url("../img/member-one.png");
$leftMargin: -90%;
$fontMontserrat: 'Montserrat', sans-serif;
$fontSerifPro: 'Source Serif Pro', serif;
$maxWidth: 100%;


$basepx: 10px;

$padding23px: 23px;


$mainwidth: 100%;
$mainmargin: 80px;
$maincolor: white;
$mainfont: "Montserrat", sans-serif;
$mainposition: absolute;



// olculer
// width
$width100: 100%;
// height
$height-x: 100px;
$height-2: $height-x*2;
$height-3: $height-x*3;
$height-4: $height-x*4;
// colors
$mapColor: #f36438;
// hover color
$hover-color: #0cb8b6;
// z-index
$zindex0: 0;
// hover
$hover-trans:all 500ms ease;

